# DEVELOPMENT
PORT=8000
NODE_ENV=development

# DATABASE
MONGO_URL=
REDIS_URL=

# JWT
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

# Gmail
EMAIL_ID=
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=

ALLOWED_ORIGIN=http://localhost:3000
CLIENT_URL=http://localhost:3000
