# DEVELOPMENT
PORT=800
NODE_ENV=development

# DATABASE
REDIS_URL=redis://redis:6379/0
DATABASE_URL=

# EMAIL SERVICE
EMAIL_ID=
EMAIL_PASSWORD=

# JWT
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=




